/**
 * Templates for choice (polymorphic) data models and classes based on the DataType
 * Templates are provided for:
 * - Choice Type - Optional
 * - Choice Type - Required
 *
 * NOTE:
 *   Elements that have a choice of data type cannot repeat - they must have a maximum cardinality of 1.
 *   When constructing an instance of an element with a choice of types, the authoring system must create
 *   a single element with a data type chosen from among the list of permitted data types.
 *   To help with code generation, [a list of choice elements](https://hl7.org/fhir/R4/choice-elements.json) is published.
 *
 * @see [Choice of Data Types](https://hl7.org/fhir/R4/formats.html#choice)
 */

//***** region Choice Type - Optional **********************************************************************************

// =====================================================================
// Choice Type 0..1
// DataType (xxxxFieldName / XxxxFieldName)
// XxxxParentClassName / XxxxParentClassElement
//   e.g., GroupCharacteristicComponent / 'Group.characteristic'
// XxxxChoiceTypeList
//   e.g., ['boolean', 'integer', 'CodeableConcept']
// =====================================================================
  /**
   * XxxxParentClassElement.xxxxFieldName[x] Element
   *
   * @decorator `@ChoiceDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]', XxxxChoiceTypeList)`
   *
   * @remarks
   * **FHIR Specification**
   * ...
   */
  @ChoiceDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]', XxxxChoiceTypeList)
  private xxxxFieldName?: DataType | undefined;

  // *** NOTE ***
  // Only copy the internal code block!
  public static parse(sourceJson: JSON.Object): DataType | undefined {

    // NOTE: Added IF and ONLY IF a choice data type is used
    const classMetadata: DecoratorMetadataObject | null = XxxxParentClassName[Symbol.metadata];
    const errorMessage = `DecoratorMetadataObject does not exist for XxxxParentClassName`;
    assertIsDefined<DecoratorMetadataObject>(classMetadata, errorMessage);


    sourceField = 'XxxxParentClassElement.xxxxFieldName[x]';
    fieldName = extractFieldName(sourceField);
    const xxxxFieldName: DataType | undefined = parsePolymorphicDataType(
      classJsonObj,
      sourceField,
      fieldName,
      classMetadata,
    );
    instance.setXxxxFieldName(xxxxFieldName);

  }

  /**
   * @returns the `xxxxFieldName` property value as a DataType object if defined; else undefined
   */
  public getXxxxFieldName(): DataType | undefined {
    return this.xxxxFieldName;
  }

  /**
   * Assigns the provided DataType object value to the `xxxxFieldName` property.
   *
   * @decorator `@ChoiceDataTypes('XxxxParentClassElement.xxxxFieldName[x]')`
   *
   * @param value - the `xxxxFieldName` object value
   * @returns this
   */
  @ChoiceDataTypes('XxxxParentClassElement.xxxxFieldName[x]')
  public setXxxxFieldName(value: DataType | undefined): this {
    if (isDefined<DataType>(value)) {
      // assertFhirType<DataType>(value, DataType) unnecessary because @ChoiceDataTypes decorator ensures proper type/value
      this.xxxxFieldName = value;
    } else {
      this.xxxxFieldName = undefined;
    }
    return this;
  }

  /**
   * @returns `true` if the `xxxxFieldName` property exists and has a value; `false` otherwise
   */
  public hasXxxxFieldName(): boolean {
    return isDefined<DataType>(this.xxxxFieldName) && !this.xxxxFieldName.isEmpty();
  }

  // *** NOTE ***
  // Next "get"/"has" methods are added for each choice data type - one pair of methods for each choice data type
  // XxxxChoiceDataType (e.g., CodeableConcept, StringType, etc.)

  /**
   * @returns the `xxxxFieldName` property value as a XxxxChoiceDataType object if defined; else undefined
   */
  public getXxxxFieldNameXxxxChoiceDataType(): XxxxChoiceDataType | undefined {
    if (!isDefined<DataType | undefined>(this.xxxxFieldName)) {
      return undefined;
    }
    if (!(this.xxxxFieldName instanceof XxxxChoiceDataType)) {
      throw new InvalidTypeError(
        `DataType mismatch for XxxxParentClassElement.xxxxFieldName[x]: Expected XxxxChoiceDataType but encountered ${this.xxxxFieldName.fhirType()}`,
      );
    }
    return this.xxxxFieldName;
  }

  /**
   * @returns `true` if the `xxxxFieldName` property exists as a XxxxChoiceDataType and has a value; `false` otherwise
   */
  public hasXxxxFieldNameXxxxChoiceDataType(): boolean {
    return this.hasXxxxFieldName() && this.xxxxFieldName instanceof XxxxChoiceDataType;
  }



  // *** NOTE ***
  // Only copy the "if" block!
  public override toJSON(): JSON.Value | undefined {

    if (this.hasXxxxFieldName()) {
      // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
      setPolymorphicValueJson(this.getXxxxFieldName()!, 'xxxxFieldName', jsonObj);
    }

  }

//endregion

//***** region Choice Type - Required **********************************************************************************

// =====================================================================
// Choice Type 1..1
// DataType (xxxxFieldName / XxxxFieldName)
// XxxxParentClassName / XxxxParentClassElement
//   e.g., GroupCharacteristicComponent / 'Group.characteristic'
// XxxxChoiceTypeList
//   e.g., ['boolean', 'integer', 'CodeableConcept']
// =====================================================================
  /**
   * XxxxParentClassElement.xxxxFieldName[x] Element
   *
   * @decorator `@ChoiceDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]', XxxxChoiceTypeList)`
   *
   * @remarks
   * **FHIR Specification**
   * ...
   */
  @ChoiceDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]', XxxxChoiceTypeList)
  private xxxxFieldName: DataType | null;

  constructor(xxxxFieldName: DataType | null) {

    this.xxxxFieldName = null;
    if (isDefined<DataType>(xxxxFieldName)) {
      this.setXxxxFieldName(xxxxFieldName);
    }

  }

  // *** NOTE ***
  // Only copy the internal code block!
  public static parse(sourceJson: JSON.Object): DataType | undefined {

    // NOTE: Added IF and ONLY IF a choice data type is used
    const classMetadata: DecoratorMetadataObject | null = XxxxParentClassName[Symbol.metadata];
    const errorMessage = `DecoratorMetadataObject does not exist for XxxxParentClassName`;
    assertIsDefined<DecoratorMetadataObject>(classMetadata, errorMessage);

    // *** NOTE ***
    // Add following near top of method ONLY IF it does not already exist
    const missingReqdProperties: string[] = [];


    sourceField = 'XxxxParentClassElement.xxxxFieldName[x]';
    fieldName = extractFieldName(sourceField);
    const xxxxFieldName: DataType | undefined = parsePolymorphicDataType(
      classJsonObj,
      sourceField,
      fieldName,
      classMetadata,
    );
    if (xxxxFieldName === undefined) {
      missingReqdProperties.push(sourceField);
    } else {
      instance.setXxxxFieldName(xxxxFieldName);
    }


    // *** NOTE ***
    // Add following at bottom just above the `return instance;` ONLY IF it does not already exist
    if (missingReqdProperties.length > 0) {
      const errMsg = `${REQUIRED_PROPERTIES_REQD_IN_JSON} ${missingReqdProperties.join(', ')}`;
      throw new FhirError(errMsg);
    }

  }

  /**
   * @returns the `xxxxFieldName` property value as a DataType object; else null
   */
  public getXxxxFieldName(): DataType | null {
    return this.xxxxFieldName;
  }

  /**
   * Assigns the provided DataType object value to the `xxxxFieldName` property.
   *
   * @decorator `@ChoiceDataTypes('XxxxParentClassElement.xxxxFieldName[x]')`
   *
   * @param value - the `xxxxFieldName` object value
   * @returns this
   */
  @ChoiceDataTypes('XxxxParentClassElement.xxxxFieldName[x]')
  public setXxxxFieldName(value: DataType): this {
    assertIsDefined<DataType>(value, `XxxxParentClassElement.xxxxFieldName[x] is required`);
    // assertFhirType<DataType>(value, DataType) unnecessary because @ChoiceDataTypes decorator ensures proper type/value
    this.xxxxFieldName = value;
    return this;
  }

  /**
   * @returns `true` if the `xxxxFieldName` property exists and has a value; `false` otherwise
   */
  public hasXxxxFieldName(): boolean {
    return isDefined<DataType>(this.xxxxFieldName) && !this.xxxxFieldName.isEmpty();
  }


  // *** NOTE ***
  // Next "get"/"has" methods are added for each choice data type - one pair of methods for each choice data type
  // XxxxChoiceDataType (e.g., CodeableConcept, StringType, etc.)

  /**
   * @returns the `xxxxFieldName` property value as a XxxxChoiceDataType object if defined; else null
   */
  public getXxxxFieldNameXxxxChoiceDataType(): XxxxChoiceDataType | null {
    if (!isDefined<DataType>(this.xxxxFieldName)) {
      return null;
    }
    if (!(this.xxxxFieldName instanceof XxxxChoiceDataType)) {
      throw new InvalidTypeError(
        `DataType mismatch for XxxxParentClassElement.xxxxFieldName[x]: Expected XxxxChoiceDataType but encountered ${this.xxxxFieldName.fhirType()}`,
      );
    }
    return this.xxxxFieldName;
  }

  /**
   * @returns `true` if the `xxxxFieldName` property exists as a XxxxChoiceDataType and has a value; `false` otherwise
   */
  public hasXxxxFieldNameXxxxChoiceDataType(): boolean {
    return this.hasXxxxFieldName() && this.xxxxFieldName instanceof XxxxChoiceDataType;
  }



  // *** NOTE ***
  // Only copy the "if" block!
  public override toJSON(): JSON.Value | undefined {

    // *** NOTE ***
    // Add following near top of method ONLY IF it does not already exist
    const missingReqdProperties: string[] = [];

    if (this.hasXxxxFieldName()) {
      // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
      setPolymorphicValueJson(this.getXxxxFieldName()!, 'xxxxFieldName', jsonObj);
    } else {
      missingReqdProperties.push(`XxxxParentClassElement.xxxxFieldName[x]`);
    }

    // *** NOTE ***
    // Add following at bottom just above the `return instance;` ONLY IF it does not already exist
    if (missingReqdProperties.length > 0) {
      const errMsg = `${REQUIRED_PROPERTIES_DO_NOT_EXIST} ${missingReqdProperties.join(', ')}`;
      throw new FhirError(errMsg);
    }

  }

//endregion
