/**
 * Templates for open data models and classes based on the DataType
 * Templates are provided for:
 * - Open Type - Optional
 * - Open Type - Required
 *
 * NOTE:
 *   Elements that have an open of data type cannot repeat - they must have a maximum cardinality of 1.
 *   When constructing an instance of an element with an open type, the authoring system must create
 *   a single element with a data type chosen from among the list of permitted data types.
 *
 * @see [Open Type Element](https://hl7.org/fhir/R4/datatypes.html#open)
 */

//***** region Open Type - Optional **********************************************************************************

// =====================================================================
// Open Type 0..1
// DataType (xxxxFieldName / XxxxFieldName)
// XxxxParentClassName / XxxxParentClassElement
//   e.g., GroupCharacteristicComponent / 'Group.characteristic'
// =====================================================================
  /**
   * XxxxParentClassElement.xxxxFieldName[x] Element
   *
   * @decorator `@OpenDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]')`
   *
   * @remarks
   * **FHIR Specification**
   * ...
   */
  @OpenDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]')
  private xxxxFieldName?: DataType | undefined;

  // *** NOTE ***
  // Only copy the internal code block!
  public static parse(sourceJson: JSON.Object): DataType | undefined {

    // NOTE: Added IF and ONLY IF an open data type is used
    const classMetadata: DecoratorMetadataObject | null = XxxxParentClassName[Symbol.metadata];


    sourceField = 'XxxxParentClassElement.xxxxFieldName';
    fieldName = extractFieldName(sourceField);
    if (isDefined<DecoratorMetadataObject | null>(classMetadata)) {
      const datatype: DataType | undefined = parseOpenDataType(backboneJsonObj, sourceField, fieldName, classMetadata);
      instance.setXxxxFieldName(datatype);
    }

  }

  /**
   * @returns the `xxxxFieldName` property value as a DataType object
   */
  public getXxxxFieldName(): DataType | undefined {
    return this.xxxxFieldName;
  }

  /**
   * Assigns the provided DataType object value to the `xxxxFieldName` property.
   *
   * @decorator `@OpenDataTypes('XxxxParentClassElement.xxxxFieldName[x]')`
   *
   * @param value - the `xxxxFieldName` object value
   * @returns this
   */
  @OpenDataTypes('XxxxParentClassElement.xxxxFieldName[x]')
  public setXxxxFieldName(value: DataType | undefined): this {
    if (isDefined<DataType | undefined>(value)) {
      // assertFhirType<DataType>(value, DataType) unnecessary because @OpenDataTypes decorator ensures proper type/value
      this.xxxxFieldName = value;
    } else {
      this.xxxxFieldName = undefined;
    }
    return this;
  }

  /**
   * @returns `true` if the `xxxxFieldName` property exists and has a value; `false` otherwise
   */
  public hasXxxxFieldName(): boolean {
    return this.xxxxFieldName !== undefined && !this.xxxxFieldName.isEmpty();
  }


  // *** NOTE ***
  // Only copy the "if" block!
  public override toJSON(): JSON.Value | undefined {

    if (this.hasXxxxFieldName()) {
      // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
      setPolymorphicValueJson(this.getXxxxFieldName()!, 'xxxxFieldName', jsonObj);
    }

  }

//endregion

//***** region Open Type - Required **********************************************************************************

// =====================================================================
// Open Type 1..1
// DataType (xxxxFieldName / XxxxFieldName)
// XxxxParentClassName / XxxxParentClassElement
//   e.g., GroupCharacteristicComponent / 'Group.characteristic'
// =====================================================================
  /**
   * XxxxParentClassElement.xxxxFieldName[x] Element
   *
   * @decorator `@OpenDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]')`
   *
   * @remarks
   * **FHIR Specification**
   * ...
   */
  @OpenDataTypesMeta('XxxxParentClassElement.xxxxFieldName[x]')
  private xxxxFieldName: DataType | null;

  constructor(xxxxFieldName: DataType | null) {

    this.xxxxFieldName = null;
    if (isDefined<DataType | null>(xxxxFieldName)) {
      this.setXxxxFieldName(xxxxFieldName);
    }

  }

  // *** NOTE ***
  // Only copy the internal code block!
  public static parse(sourceJson: JSON.Object): DataType | undefined {

    // NOTE: Added IF and ONLY IF an open data type is used
    const classMetadata: DecoratorMetadataObject | null = XxxxParentClassName[Symbol.metadata];

    // *** NOTE ***
    // Add following near top of method ONLY IF it does not already exist
    const missingReqdProperties: string[] = [];


    sourceField = 'XxxxParentClassElement.xxxxFieldName[x]';
    fieldName = extractFieldName(sourceField);
    if (isDefined<DecoratorMetadataObject | null>(classMetadata)) {
      const datatype: DataType | undefined = parseOpenDataType(backboneJsonObj, sourceField, fieldName, classMetadata);
      if (datatype === undefined) {
        missingReqdProperties.push(sourceField);
      } else {
        instance.setXxxxFieldName(datatype);
      }
    } else {
      missingReqdProperties.push(sourceField);
    }


    // *** NOTE ***
    // Add following at bottom just above the `return instance;` ONLY IF it does not already exist
    if (missingReqdProperties.length > 0) {
      const errMsg = `${REQUIRED_PROPERTIES_REQD_IN_JSON} ${missingReqdProperties.join(', ')}`;
      throw new FhirError(errMsg);
    }

  }

  /**
   * @returns the `xxxxFieldName` property value as a DataType object
   */
  public getXxxxFieldName(): DataType | null {
    return this.xxxxFieldName;
  }

  /**
   * Assigns the provided DataType object value to the `xxxxFieldName` property.
   *
   * @decorator `@ChoiceDataTypes('XxxxParentClassElement.xxxxFieldName[x]')`
   *
   * @param value - the `xxxxFieldName` object value
   * @returns this
   */
  @ChoiceDataTypes('XxxxParentClassElement.xxxxFieldName[x]')
  public setXxxxFieldName(value: DataType): this {
    assertIsDefined<DataType>(value, `XxxxParentClassElement.xxxxFieldName[x] is required`);
    // assertFhirType<DataType>(value, DataType) unnecessary because @OpenDataTypes decorator ensures proper type/value
    this.xxxxFieldName = value;
    return this;
  }

  /**
   * @returns `true` if the `xxxxFieldName` property exists and has a value; `false` otherwise
   */
  public hasXxxxFieldName(): boolean {
    return isDefined<DataType | null>(this.xxxxFieldName) && !this.xxxxFieldName.isEmpty();
  }


  // *** NOTE ***
  // Only copy the "if" block!
  public override toJSON(): JSON.Value | undefined {

    // *** NOTE ***
    // Add following near top of method ONLY IF it does not already exist
    const missingReqdProperties: string[] = [];

    if (this.hasXxxxFieldName()) {
      // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
      setPolymorphicValueJson(this.getXxxxFieldName()!, jsonObj);
    } else {
      missingReqdProperties.push(`XxxxParentClassElement.xxxxFieldName[x]`);
    }

    // *** NOTE ***
    // Add following at bottom just above the `return instance;` ONLY IF it does not already exist
    if (missingReqdProperties.length > 0) {
      const errMsg = `${REQUIRED_PROPERTIES_DO_NOT_EXIST} ${missingReqdProperties.join(', ')}`;
      throw new FhirError(errMsg);
    }

  }

//endregion
